@{
    ViewData["Title"] = "Actividad Practica II";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la actividad practica #3</h1>
    <h3>Lenguaje de programacion III</h3>
    <p>En este repositorio encontraras todos estos cambios <a href="https://github.com/juniorvaleraofficial/Actividad3LengProg3.git" target="_blank">Repositorio >></a>.</p>
</div>
